__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.py,cover
.coverage
htmlcov/

# Envs & secrets
.env
.env.* 
*.pem
*.key

# Virtualenv
venv/
.venv/

# IDE
.idea/
.vscode/

# Django static build output (если собираешь collectstatic сюда)
staticfiles/
media/
